body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 30px;
    max-width: 75%;
    text-align: justify;
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}